body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #fbc2eb, #a6c1ee);
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
}

.card {
    background: linear-gradient(to right, #04075c, #4e8af2);
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    color: white;
}

.card__logo img {
    width: 50px;
}

.card__number,
.card__holder__name,
.card__exp__date {
    font-size: 1.2em;
    letter-spacing: 2px;
}

.card__holder,
.card__exp {
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    margin-bottom: 10px;
}

input,
select {
    padding: 15px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.card-number-inputs {
    display: flex;
    justify-content: space-between;
}

.card-number {
    width: 22%;
}

.expiry-date-inputs {
    display: flex;
    justify-content: space-between;
}

.expiry-date-inputs select {
    width: 48%;
}

.expiry-cvv {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.expiry-cvv label {
    margin-top: 20px;
    /* Increased margin-top for more space above */
    margin-bottom: 20px;
    /* Increased margin-bottom for more space below */
}

button {
    margin-top: 20px;
    padding: 10px;
    background: linear-gradient(to right, #04075c, #4e8af2);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background: linear-gradient(to right, #474987, #4e8af2);
}